.enjoy {
    background: url('../img/Photo-7.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0;

    &__wrapper {
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }

    &__h2 {
        font-size: 40px;
        color: white;
        text-align: center;
        padding: 20px 0;
    }

    &__btn {
        @include button;
        margin: 0 auto;
        font-size: 18px
    }

    &__p {
        color: white;
        margin: 20px 0;
        font-size: 18px;

        a {
            color: #FFC74A;
        }
    }


}