.explore {
    padding: 20px;
    background-color: rgb(236, 243, 255);

    &__h2 {
        @include h2;
        margin: 20px 0;
    }

    &__wrapper {
        width: 90%;
        margin: 0 auto;
    }

    &__img {
        img {
            width: 100%;
        }
    }

    .description {

        &__h3 {
            color: $yellow;
            font-size: 30px;
            margin: 20px 0;
        }

        &__btn {
            @include button;
        }
    }
}

@media(min-width:768px) {
    .explore {

        &__wrapper {
            width: 64%;
        }
    }
}


@media(min-width:1024px) {
    .explore {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            width: 80%;
        }

        &__h2 {
            width: 100%;
        }


        .explore__img {
            width: 45%;
            max-width: 450px;
            margin-right: 30px;


        }

        &__description {
            width: 45%;
            max-width: 450px;
            align-self: center;
        }
    }
}