.explore {
    padding: 20px;
    background-color: rgb(236, 243, 255);

    &__h2 {
        @include h2;
        margin: 20px 0;
    }

    &__wrapper {
        width: 90%;
        margin: 0 auto;
    }

    &__img {
        img {
            width: 100%;
        }
    }

    .description {

        &__h3 {
            color: $yellow;
            font-size: 30px;
            margin: 20px 0;
        }

        &__btn {
            @include button;
        }
    }

}