.footer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 50px 0;

    &__h2 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: -1;
        font-size: 70px;
        text-transform: uppercase;
        font-weight: 700;
        color: #FFC74A;
        opacity: 0.3;
    }

    &__p {
        margin: 10px 0;
    }
}