.landing {
    background: url('../img/Photo.png') no-repeat;
    background-size: cover;
    height: 100vh;



    &__wrapper {
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__h1 {
        color: white;
        font-size: 45px;
        padding: 50px 0;
        text-shadow: 2px 2px 2px black;
    }

    &__h1-span {
        color: $red;
    }

    &__p1 {
        margin: 10px 0;
        color: $btnGray;
    }

    &__button {
        @include button;
        margin-top: 70px;
    }

    &__img-wrapper {
        display: none;
    }
}

@media(min-width:768px) {
    .landing {
        &__h1 {
            font-size: 80px;
        }

        &__p1 {
            font-size: 30px;
        }

        &__button {
            font-size: 25px;
            padding: 20px 40px;
            border-radius: 50px;
        }
    }
}

@media(min-width:1024px) {
    .landing {
        height: 100vh;
        position: relative;

        &__img-wrapper {
            width: 100%;
            max-width: 1300px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
        }
    }



    .img-wrapper__items {
        position: relative;
        width: 180px;

        h3 {
            position: absolute;
            left: 50%;
            bottom: 30px;
            transform: translate(-50%, -50%);
            color: white;

        }
    }

    .img-wrapper-item {
        width: 100%;
    }

}