.header {
    display: flex;
    padding: 10px 10px;

    &__logo {
        display: flex;
        width: 200px;
        justify-content: space-between;
    }

    &__logo-paragrap {
        font-size: 40px;
        font-weight: bolder;
    }

    &__nav {
        display: none;
    }
}