* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

$red:#ED6950;
$yellow:#FFC74A;
$gray: #606F81;
$darkYellow: #B98000;
$btnGrayBlue: #BDC8D9;
$btnGray: #8D97A5;